section.dg-catalogue-body 
	.container
		h2.main-title Dong Gia’s Gift Sets
		.wowbook-wrapper
			#wowbook
				.item
					img(src="https://www.novaland.com.vn/Data/Sites/1/Banner/20190109-nvl-profile-8a.jpg", alt="")
				.item
					img(src="https://www.novaland.com.vn/Data/Sites/1/Banner/20190109-nvl-profile-8a.jpg", alt="")
				.item
					img(src="https://www.novaland.com.vn/Data/Sites/1/Banner/20190109-nvl-profile-8a.jpg", alt="")
				.item
					img(src="https://www.novaland.com.vn/Data/Sites/1/Banner/20190109-nvl-profile-8a.jpg", alt="")
				.item
					img(src="https://www.novaland.com.vn/Data/Sites/1/Banner/20190109-nvl-profile-8a.jpg", alt="")
				.item
					img(src="https://www.novaland.com.vn/Data/Sites/1/Banner/20190109-nvl-profile-8a.jpg", alt="")
				.item
					img(src="https://www.novaland.com.vn/Data/Sites/1/Banner/20190109-nvl-profile-8a.jpg", alt="")
				.item
					img(src="https://www.novaland.com.vn/Data/Sites/1/Banner/20190109-nvl-profile-8a.jpg", alt="")
		.wowbook-control
			ul
				li
					a#first(href="#")
						span.lnr.lnr-chevron-double-left
				li
					a#back(href="#")
						span.lnr.lnr-chevron-left
				li
					a#zoomout(href="#")
						span.lnr.lnr-chevron-minus
				li
					a#zoomin(href="#")
						span.lnr.lnr-chevron-plus
				li
					a#next(href="#")
						span.lnr.lnr-chevron-right
				li
					a#last(href="#")
						span.lnr.lnr-chevron-double-right
		