2019-04-10 09:23:34,439 INFO 118.69.62.218 - en-US - /AdminCP/PageLayout.aspx?pageid=5 - CanhCam.Web.AdminUI.PageLayout - user Admin removed module Tiêu đề from page Liên hệ from ip address 118.69.62.218 
2019-04-10 09:23:36,564 INFO 118.69.62.218 - en-US - /AdminCP/PageLayout.aspx?pageid=5 - CanhCam.Web.AdminUI.PageLayout - user Admin removed module Thông tin liên hệ from page Liên hệ from ip address 118.69.62.218 
2019-04-10 09:23:38,548 INFO 118.69.62.218 - en-US - /AdminCP/PageLayout.aspx?pageid=5 - CanhCam.Web.AdminUI.PageLayout - user Admin removed module Ghi chú from page Liên hệ from ip address 118.69.62.218 
2019-04-10 09:23:40,595 INFO 118.69.62.218 - en-US - /AdminCP/PageLayout.aspx?pageid=5 - CanhCam.Web.AdminUI.PageLayout - user Admin removed module Liên hệ from page Liên hệ from ip address 118.69.62.218 
2019-04-10 09:23:43,189 INFO 118.69.62.218 - en-US - /AdminCP/PageLayout.aspx?pageid=5 - CanhCam.Web.AdminUI.PageLayout - user Admin removed module Bản đồ from page Liên hệ from ip address 118.69.62.218 
2019-04-10 09:25:02,142 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 09:25:02,142 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 09:26:02,549 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 09:26:02,564 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 09:26:35,033 INFO 118.69.62.218 - en-US - /AdminCP/ModuleSettings.aspx?mid=268 - CanhCam.Web.AdminUI.ModuleSettingsPage - user Admin changed Module Edit roles for Title to  from ip address 118.69.62.218 
2019-04-10 09:26:35,033 INFO 118.69.62.218 - en-US - /AdminCP/ModuleSettings.aspx?mid=268 - CanhCam.Web.AdminUI.ModuleSettingsPage - user Admin changed Module Draft Edit roles for Title to  from ip address 118.69.62.218 
2019-04-10 09:26:35,111 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 09:26:35,111 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 09:26:56,502 INFO 118.69.62.218 - en-US - /AdminCP/ModuleSettings.aspx?mid=269 - CanhCam.Web.AdminUI.ModuleSettingsPage - user Admin changed Module Edit roles for Hệ thống cửa hàng to  from ip address 118.69.62.218 
2019-04-10 09:26:56,502 INFO 118.69.62.218 - en-US - /AdminCP/ModuleSettings.aspx?mid=269 - CanhCam.Web.AdminUI.ModuleSettingsPage - user Admin changed Module Draft Edit roles for Hệ thống cửa hàng to  from ip address 118.69.62.218 
2019-04-10 09:26:56,580 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 09:26:56,596 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 09:47:47,348 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-10 14:32:49,023 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-10 14:53:49,713 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-10 14:55:35,635 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-10 15:34:50,764 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-10 15:35:13,421 INFO 118.69.62.218 - en-US - /e-catalogue/european-furniture-decorative-artsdong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-10 15:39:29,640 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 15:39:29,640 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 15:39:34,187 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 15:39:34,187 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 15:45:47,266 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 15:45:47,266 INFO 118.69.62.218 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-10 16:28:36,333 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-10 21:57:23,584 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-10 22:18:24,274 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-10 23:09:24,733 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-10 23:30:25,439 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-11 01:04:13,137 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-11 01:25:13,827 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-11 07:46:02,232 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-11 08:07:02,906 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-11 16:05:14,806 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-11 16:45:13,796 INFO 27.74.246.127 - en-US - /e-catalogue/european-furniture-decorative-artsdong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-11 17:01:23,798 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - deserialized WebTaskManager task 
2019-04-11 17:01:23,813 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - Queued WebTaskManager on a new thread 
2019-04-11 17:01:23,938 INFO (null) - (null) - (null) - CanhCam.SearchIndex.IndexWriterTask - deserialized IndexWriterTask task 
2019-04-11 17:01:23,938 INFO (null) - (null) - (null) - CanhCam.SearchIndex.IndexWriterTask - Queued IndexWriterTask on a new thread 
2019-04-11 17:02:14,657 INFO (null) - (null) - (null) - CanhCam.SearchIndex.IndexWriterTask - started IndexWriterTask task 
2019-04-11 17:02:24,016 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - started WebTaskManager task 
2019-04-11 17:03:13,235 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - deserialized WebTaskManager task 
2019-04-11 17:03:13,235 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - Queued WebTaskManager on a new thread 
2019-04-11 17:03:13,360 INFO (null) - (null) - (null) - CanhCam.SearchIndex.IndexWriterTask - deserialized IndexWriterTask task 
2019-04-11 17:03:13,360 INFO (null) - (null) - (null) - CanhCam.SearchIndex.IndexWriterTask - Queued IndexWriterTask on a new thread 
2019-04-11 17:04:03,907 INFO (null) - (null) - (null) - CanhCam.SearchIndex.IndexWriterTask - started IndexWriterTask task 
2019-04-11 17:04:13,423 INFO (null) - (null) - (null) - CanhCam.Web.WebTaskManager - started WebTaskManager task 
2019-04-11 17:19:23,237 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:19:23,253 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:19:25,175 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:19:25,175 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:20:21,909 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:20:21,925 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:21:02,144 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:21:02,144 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:21:48,800 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:21:48,816 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:24:32,878 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:24:32,878 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:24:48,066 INFO 27.74.246.127 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-11 17:24:50,816 INFO 27.74.246.127 - en-US - /e-catalogue/dong-gias-gift-sets?pagenumber=2 - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-11 17:24:51,972 INFO 27.74.246.127 - en-US - /e-catalogue/dong-gias-gift-sets?pagenumber=1 - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-11 17:30:52,442 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:30:52,442 INFO 27.74.246.127 - en-US - /contact-us - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/dealerlocator/ not found 
2019-04-11 17:51:15,507 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-11 22:15:52,199 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-11 22:36:52,873 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-12 00:21:08,886 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-12 00:21:09,995 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 00:42:09,576 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-12 02:10:39,211 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-12 02:10:40,086 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 02:31:39,901 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-12 09:26:06,562 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-12 09:40:28,110 INFO 118.69.62.218 - en-US - /celadon-collection/copy-of-celadon-1 - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:40:35,251 INFO 118.69.62.218 - en-US - /celadon-collection/copy-of-celadon-1 - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:40:38,157 INFO 118.69.62.218 - en-US - /celadon-collection/copy-of-celadon - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:40:50,907 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:40:58,501 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:41:03,658 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:41:16,189 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:41:30,376 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:43:51,048 INFO 118.69.62.218 - en-US - /Account/Dashboard.aspx - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/Product/PurchaseHistory.xslt not found 
2019-04-12 09:43:53,986 INFO 118.69.62.218 - en-US - /Product/PurchaseHistory.aspx - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/Product/PurchaseHistory.xslt not found 
2019-04-12 09:43:59,626 INFO 118.69.62.218 - en-US - /e-catalogue/100-artists-1000-cups - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:44:01,517 INFO 118.69.62.218 - en-US - /e-catalogue/100-artists-1000-cups?pagenumber=2 - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:44:04,080 INFO 118.69.62.218 - en-US - /e-catalogue/100-artists-1000-cups?pagenumber=1 - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:44:10,970 INFO 118.69.62.218 - en-US - /celadon-collection/copy-of-celadon-5 - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:49:48,374 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 09:49:48,577 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 10:26:07,253 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-12 11:48:26,029 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-12 12:09:26,734 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-12 13:11:27,273 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-12 13:12:49,570 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 13:34:27,963 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-12 13:37:40,682 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-12 14:38:41,377 INFO (null) - (null) - (null) - CanhCam.Web.Global - Global.asax.cs Application_End 
2019-04-12 14:43:31,174 INFO (null) - (null) - (null) - CanhCam.Web.Global - Application Started. 
2019-04-12 14:59:18,848 ERROR 118.69.62.218 - en-US - /shop-online?pagenumber=2 - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript1' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 14:59:50,520 ERROR 118.69.62.218 - en-US - /shop-online?pagenumber=2 - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript1' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 15:00:26,458 ERROR 118.69.62.218 - en-US - / - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript1' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 15:01:26,255 ERROR 118.69.62.218 - en-US - / - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript4' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript4' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript4' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 15:02:42,552 ERROR 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript4' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript4' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript4' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 15:02:42,848 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 15:02:43,020 ERROR 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript4' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript4' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript4' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 15:02:43,036 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 15:03:13,677 INFO 118.69.62.218 - en-US - /e-catalogue/dong-gias-gift-sets - CanhCam.Web.Framework.XmlHelper - File /Data/xslt/news/ not found 
2019-04-12 15:04:13,021 ERROR 118.69.62.218 - en-US - / - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript1' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 15:04:15,927 ERROR 118.69.62.218 - en-US - / - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript1' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 15:04:16,161 ERROR 118.69.62.218 - en-US - / - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript1' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
2019-04-12 15:04:16,271 ERROR 118.69.62.218 - en-US - / - CanhCam.Web.CmsBasePage - Error setting master page. Will try setting to default skin.en-US - 118.69.62.218 
System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpParseException (0x80004005): The ID 'SkinFolderScript1' is already used by another control. ---> System.Web.HttpException (0x80004005): The ID 'SkinFolderScript1' is already used by another control.
   at System.Web.UI.TemplateParser.ProcessError(String message)
   at System.Web.UI.TemplateParser.ProcessBeginTag(Match match, String inputText)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ProcessException(Exception ex)
   at System.Web.UI.TemplateParser.ParseStringInternal(String text, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseString(String text, VirtualPath virtualPath, Encoding fileEncoding)
   at System.Web.UI.TemplateParser.ParseFile(String physicalPath, VirtualPath virtualPath)
   at System.Web.UI.TemplateParser.ParseInternal()
   at System.Web.UI.TemplateParser.Parse()
   at System.Web.Compilation.BaseTemplateBuildProvider.get_CodeCompilerType()
   at System.Web.Compilation.BuildProvider.GetCompilerTypeFromBuildProvider(BuildProvider buildProvider)
   at System.Web.Compilation.BuildProvidersCompiler.ProcessBuildProviders()
   at System.Web.Compilation.BuildProvidersCompiler.PerformBuild()
   at System.Web.Compilation.BuildManager.CompileWebFile(VirtualPath virtualPath)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultInternal(VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResultWithNoAssert(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean throwIfNotFound, Boolean ensureIsUpToDate)
   at System.Web.Compilation.BuildManager.GetVPathBuildResult(HttpContext context, VirtualPath virtualPath, Boolean noBuild, Boolean allowCrossApp, Boolean allowBuildInPrecompile, Boolean ensureIsUpToDate)
   at System.Web.UI.MasterPage.CreateMaster(TemplateControl owner, HttpContext context, VirtualPath masterPageFile, IDictionary contentTemplateCollection)
   at System.Web.UI.Page.get_Master()
   at CanhCam.Web.CmsBasePage.SetupMasterPage()
   at CanhCam.Web.CmsBasePage.OnPreInit(EventArgs e)
